body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(Stopwatch3.jpg);

    
}

.stopwatch {
    text-align: center;
    background-color: #333;
    color: #e71515;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    width: 600px;
    height: 600px;
    
}

#display {
    font-size: 48px;
    margin-bottom: 20px;
}

.controls button {
    background-color: #444;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.controls button:hover {
    background-color: #555;
}

#laps {
    margin-top: 20px;
}

#lapList {
    list-style-type: none;
    padding: 0;
}

#lapList li {
    background-color: #444;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
